body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 16px;
    gap: 200px;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
    background-color: #1f2937;
    padding: 50px 10vw 100px 10vw;
    box-sizing: border-box;
}

.left_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
    flex: 1 0 400px;
    justify-content: space-between;
    height: 200px;
}

.hanging_socks {
    width: auto;
    height: 200px;
    border-radius: 20px;
}

.sign_up {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;

}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
    background-color: white;
    padding: 30px 10vw;
}

.cont2_top_text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    font-family: Tahoma, sans-serif;
    margin-top: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.gal_box {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.gal_image {
    height: 150px;
    width: auto;
    border: 2px solid #3882f6;
    border-radius: 12px;
}

.gal_text {
    margin: 15px 0 0 0;
    font-family: Tahoma, sans-serif;
    color: #afb1b5;
    text-align: center;
}

.content3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 100px 20vw 100px 20vw;
}

.quote_text {
    font-size: 36px;
    font-family: Tahoma, sans-serif;
    font-style: italic;
}

.attribution_text {
    align-self: flex-end;
    margin-top: 10px;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    font-weight: 900;

}

.title_text {
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: Tahoma, sans-serif;
}

.small_text {
    color: #afb1b5;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
}

.footer {

}

.top_links {
    display: flex;
    list-style-type: none;
    margin: 0 10vw 0 0;
    padding: 0;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
}

li {
    margin: 8px 0px 8px 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #afb1b5;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 10vw;
}